{% extends "base.html" %}


{% block content %}  

    <!-- Navigation -->
    <a id="menu-toggle" style="margin-right: 185px" href="#" class="btn btn-dark btn-lg toggle" style="">Zurich&nbsp; <i class="fa fa-location-arrow"></i></i></a>
    <a id="menu-toggle" style="margin-right: 108px" href="#" class="btn btn-dark btn-lg toggle" style="">0&nbsp; <i class="fa fa-envelope-o"></i></i></i></a>
    <a id="signout-button" href="#" onclick="javascript:location.href='{{ logout_url }}';return false;" class="btn btn-dark btn-lg toggle">Sign out</i></a>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Cramp</h1>
            <h3>Travellers meet local people</h3>
            <br>
            <div id="sentRequestConfirmation" style="font-size: 17px">
                <span id="requestConfirmationText">¡ We've just introduced both of you by email !.</span>
                <span> We'll leave you to it <i class="fa fa-paper-plane-o"></i></span>
            </div>
        </div>
    </header>

{% endblock %}
