{% extends "base.html" %}


{% block content %}  
    <!-- Navigation -->
    <a id="menu-toggle" href="#" onclick="javascript:location.href='{{ login_url }}';return false;" class="btn btn-dark btn-lg toggle">Sign in&nbsp; <i class="fa fa-paper-plane"></i></a>
    <!--<nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top">Start Bootstrap</a>
            </li>
            <li>
                <a href="#top">Home</a>
            </li>
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#services">Services</a>
            </li>
            <li>
                <a href="#portfolio">Portfolio</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
        </ul>
    </nav>-->

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Cramp</h1>
            <h3>Travellers meet local people</h3>
            <br>
            <input type="text" class="where-input" id="whereinput" placeholder="Where are you headed?"></input>
            <br>
            <input type="text" class="what-input" id="whatinput" placeholder="What are you after?"></input>
            <br>
            <textarea class="why-textarea" id="whytextarea" placeholder="Why should I help you out with it? You've got 167 characters.. good luck ;)!"></textarea>
            <br>
            <button class="btn btn-default" id="sendrequest" style="display: none">Give it to me!</button>
        </div>
    </header>
{% endblock %}
