{% extends "base.html" %}


{% block content %}  

    <!-- Navigation -->
    <a id="menu-toggle" style="margin-right: 185px" href="#" class="btn btn-dark btn-lg toggle" style="">Manchester&nbsp; <i class="fa fa-location-arrow"></i></i></a>
    <a id="menu-toggle" style="margin-right: 108px" href="#" class="btn btn-dark btn-lg toggle" style="">0&nbsp; <i class="fa fa-envelope-o"></i></i></i></a>
    <a id="signout-button" href="#" onclick="javascript:location.href='{{ logout_url }}';return false;" class="btn btn-dark btn-lg toggle">Sign out</i></a>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Cramp</h1>
            <h3>Travellers meet local people</h3>
            <br>

            <div id="requestFormContainer">
                <form id="sendRequestForm" onkeypress="return event.keyCode != 13;">
                    <input type="text" class="where-input" id="whereinput" name="whereinput" autocomplete="off" placeholder="Where are you headed?"></input>
                    <br>
                    <input type="text" class="what-input" id="whatinput" name="whatinput" autocomplete="off" placeholder="What are you after?"></input>
                    <br>
                    <textarea class="why-textarea" id="whytextarea" name="whytextarea" autocomplete="off" placeholder="Why should I help you? 167 characters. Go."></textarea>
                    <br>
                </form>
                <button class="btn btn-default" id="sendtruerequest" style="display: none">Give it to me!</button>
            </div>
            <div id="sentRequestConfirmation" style="font-size: 17px; text-decoration: underline; display: none">
                <span id="requestConfirmationText">¡ No promises.. but your request just has been delivered to Zurich, Switzerland </span>
                <span><i class="fa fa-paper-plane-o"></i> !</span>
            </div>
        </div>
        <!--<div class="row">
            <div style="margin-top: 10px" class="text-vertical-center col-md-4 col-md-offset-4">
                Your request was sent succesfully. We are asking right now people around :). We'll get back to you as soon as possible!
            </div>
        </div>-->

    </header>

{% endblock %}
